<!DOCTYPE html>
<html>
    <head></head>
    <body>
      <div class="container">
        <h1 style="color:black;">Usuario desbloqueado en el Archivo Digital Ciesas.</h1>
            <h2 style="color:black;">Ahora usted puede tener acceso al Archivo Digital Ciesas.</h2>
            <p style="color:#454545;">Recomendación: Asegurese de que la contraseña del documento al que intenta tener acceso sea la del año correspondiente.</p>
            <p style="color:#454545;">La contraseña para un documento dentro de un area dada en el 2015 es distinta para los documentos pertenecientes a esa área pero de otro año.</p>
            <p style="color:#454545;">Sino conoce la contraseña de un área revice dentro de su bandeja de entrada, puede ser que cambiara o no la recuerde.</p>
            <h3 style="color:#454545;"><a href="{{ adc }}">Ir al Archivo Digital.</h3>
      </div>
    </body>
</html>
